body {
	font-family: "Ubuntu", serif;
	margin: 0;
}

h1, p {
	margin: 0;
}

img {
	width: 100%;
}


/*===============
	typograpgy
=================*/

h1 {
	font-family: "Lora", sans-serif;
}

.main-title {
	font-family: "Lora", sans-serif;
	font-size: 3rem;
	font-weight: 700;
	color: red;
}

.main-body {
	width: 290px;
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 2em;
}




/*=========
	layout
===========*/
.container-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.title-img {
	width: 50px;
	height: 50px;
	margin-right: 0.2em;
}


.main {
	padding: 2em 1em;
}

.right-section {
	display: none;
}

.project-details {
	align-items: flex-start;
	padding:1em;
	display: none;
}

.current-project {
	display: flex;
}

.project-title {
	margin-top:0;
	font-weight: 400;
	font-size: 2rem;
	max-width: 100px;
}

.project-link {
	text-align: center;
}

.project-link a {
	color:#1792D2;
	text-decoration: none;
}

.project-link a:hover,
.project-link a:focus {
	color:red;
	cursor: pointer;
}

.project-info {
	text-align: right;
	margin-top:5px;

}






/*===========
	nav
=============*/

header {
	align-content: center;
	padding: 1em;
	background: #F8F8F8;
	
}


.logo{
	color: black;
	font-weight: 700;
	font-size: 2.5rem;
}

.collapse-btn {
	color: #1792D2;
	outline: 0;
	border: 0;
	background: #f8f8f8;
}


.nav-elements {
	order:-1;
	list-style: none;
	padding: 0;
	margin:0;
	display: none;
}



.nav-element{
	margin: 0 0.2em;
	text-transform: uppercase;
}

.nav-elements:last-child{
	margin-right: 0.5em;
}

.nav-element a {
	font-size: 1rem;
	text-decoration: none;
	color: red;
}


.current-page {
	border-bottom: 2px solid #1792D2;
}

.nav-element a:hover,
.nav-element a:focus {
	color: #1792D2;
	cursor: pointer;
}

.nav-element .current-page:hover,
.nav-element .current-page:focus{
	color: #143774;
}

.title-txt {
	display: none;
}

.title {
	width: 350px;
}





/*=============
	carousel
================*/

.previous, .next {
	color:#1792D2;
}

.carousels{
	padding: 5px;
}

.carousel {
	display: none;
}



.project-carousel{
	padding: 1em;
}


.carousel-active {
	display: block;
}

.carousel-pos {
	display: block;
	padding: 3em 1em;
}


/*===========
	footer
==============*/

footer {
	padding:1em;
	background: #F8F8F8;
}

.contact {
	flex-direction: column;
	text-align: left;
	
}

.me, .you {
	width: 100%;
}

.me {
	margin-bottom: 0.5em;
}

.me-highlight {
	color: red;
}

.you-highlight {
	color: #1792D2;
}


@media (min-width: 805px){

	header, main, footer {
		width: 80%;
		margin: 0 auto;
		background: white;
	}

	.nav-elements {
		display: block;
	}
	.collapse-btn {
		display: none;
	}

	.title-txt {
		display: block;
		font-weight: 300;
	}

	.nav-element {
		margin: 0.5em ;
	}

	.nav-element a {
		font-size: 1rem;
		font-weight: 400;
	}

	.main {
		display: flex;
		justify-content: space-between;
	}

	.title-img {
		display: none;
	}

	.right-section {
		display: block;
	}

	.sticky {
		position: fixed;
		padding-top:5.7px;
		width: 80%;
		top: 0;
		justify-content: flex-end;
	}

}

@media (max-width: 675px){
	.sticky-header {
		position: fixed;
		right: 0;
		left: 0;
		
	}

	.sticky-header + main {
		padding-top: 5em;
	}

}
