body {
	font-family: "Ubuntu", serif;
	margin: 0;
	line-height: 1.5;
}

h1, p {
	margin: 0;
}

img {
	width: 100%;
}


/*===============
	typograpgy
=================*/

h1 {
	font-family: "Lora", sans-serif;
}

.main-title {
	font-family: "Lora", sans-serif;
	font-size: 3rem;
	font-weight: 700;
	color: red;
}

.main-body {
	width: 290px;
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 2em;
}




/*=========
	layout
===========*/
.container-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.title-img {
	width: 50px;
	height: 50px;
	margin-right: 0.2em;
}


.main {
	padding: 2em 1em;
}

.right-section {
	display: none;
}

.project-details {
	align-items: flex-start;
	padding:1em;
	display: none;
}

@keyframes fade {
	from {opacity: 0;}
	to {opacity: : 0.5;}

	from{opacity: 0.5;}
	to{opacity: 1;}
}

.current-project {
	display: flex;
	animation: fade 1700ms;
}

.project-title {
	margin-top:0;
	font-weight: 400;
	font-size: 2rem;
	max-width: 100px;
}

.project-link {
	text-align: center;
}

.project-link a {
	color:#1792D2;
	text-decoration: none;
}

.project-link a:hover,
.project-link a:focus {
	color:red;
	cursor: pointer;
}

.project-info {
	text-align: right;
	margin-top:5px;

}






/*===========
	nav
=============*/

header {
	align-content: center;
	padding: 1em;
	background: #F8F8F8;
	
}


.logo{
	color: black;
	font-weight: 700;
	font-size: 2.5rem;
	letter-spacing: 2px;
}

.collapse-btn {
	color: #1792D2;
	outline: 0;
	border: 0;
	background: #f8f8f8;
}


.nav-elements {
	order:-1;
	list-style: none;
	padding: 0;
	margin:0;
	display: none;
}



.nav-element{
	margin: 0 0.2em;
	text-transform: uppercase;
	transform: scale(1);
	transition: transform 400ms;
}

.nav-element:hover {
	transform: scale(1.1);
}

.nav-elements:last-child{
	margin-right: 0.5em;
}

.nav-element a {
	font-size: 1rem;
	text-decoration: none;
	color: red;
	letter-spacing: 1px;
	transition: color 250ms;
}


.current-page {
	border-bottom: 2px solid #1792D2;
}

.nav-element a:hover {
	color: #1792D2;
	cursor: pointer;
	
}



.title-txt {
	display: none;
}

.title {
	width: 370px;
}





/*=============
	carousel
================*/

.previous, .next {
	color:#1792D2;
}

.carousels{
	padding: 5px;
}

.carousel {
	display: none;
}



.project-carousel{
	padding: 1em;
}



.carousel-active {
	display: block;
	animation: fade 1s;
}

.carousel-pos {
	display: block;
	padding: 3em 1em;
}




/*==================
	About 
====================*/


.about {
	max-width: 500px;
	width: 70%;
	margin: 2em auto;
	text-align: center;
}

.about-title {
	font-size: 2em;
	letter-spacing: 2px;
	width: 150px;
	border-bottom: 5px solid #fa6407;
	border-image: linear-gradient(to left, #fa6407, #fa8507) 1;
	margin-right: auto;
	margin-left: auto;
}

.about-body  p {
	font-weight: 300;
	margin-bottom: 2em;
	text-align: left;
}

.about img {
	margin-bottom: 2em;
}

@media (min-width: 675px){
	.about-title {
		font-size: 3em;
	}

	.about-body p {
		font-size: 1.25rem;
	}
}


/*===========
	footer
==============*/

footer {
	padding:1em;
	background: #F8F8F8;
}

.contact {
	flex-direction: column;
	text-align: left;
	
}

.me, .you {
	width: 100%;
}

.me {
	margin-bottom: 0.5em;
}

.me-highlight {
	color: red;
}

.you-highlight {
	color: #1792D2;
}


@media (min-width: 805px){

	header, main, footer {
		width: 80%;
		margin: 0 auto;
		background: white;
	}

	.nav-elements {
		display: block;
	}
	.collapse-btn {
		display: none;
	}

	.title-txt {
		display: block;
		font-weight: 300;
	}

	.nav-element {
		margin: 0.5em ;
	}

	.nav-element a {
		font-size: 1rem;
		font-weight: 400;
	}

	.main {
		display: flex;
		justify-content: space-between;
	}

	.title-img {
		display: none;
	}

	.right-section {
		display: block;
	}

	.sticky {
		position: fixed;
		padding-top:5.7px;
		width: 80%;
		top: 0;
		justify-content: flex-end;
	}

}

@media (max-width: 675px){
	.sticky-header {
		position: fixed;
		right: 0;
		left: 0;
		
	}

	.sticky-header + main {
		padding-top: 5em;
	}

}
