
body {
	margin: 0;
	box-sizing:  content-box;
	text-align: center;
}

.grid {
	width:500px;
	height: 500px;
	background: black;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-flow: wrap; 
	border: yellow 5px solid;
}

.box {
	width: 25px;
	height: 25px;
	
}


.wall {
	background: blue;
}

.pacman, .inky, .pinky, .clyde, .miney {
	border-radius: 15px;
}

.pacman{
	background: yellow;
}

.inky {
	background: pink;
}

.pinky {
	background: green;
}

.clyde{
	background: red;
}

.miney{
	background: orange;
}

.pallete{
	border: 8.5px solid black;
	width: 8px;
	height: 8px;
	background: yellow;

	
}

.empty {
	background: black;
}

.dot {
	border:11px solid black;
	border-radius: 5px;
	width: 3px;
	height: 3px;
	background: white;
}

