body {
	margin: 0;
	font-family: "Source Sans Pro", Sans-serif;
	font-size: 1rem;
	text-align: center;
}

body * {
	box-sizing: border-box;
}



/*=====================
		Typography
=======================*/

h1 {
	font-size: 2.25rem;
	color:white;
	font-weight: 400;
}

h2{
	font-size: 1.3125rem;
}

.top-txt {
	font-size: 0.625rem;
	font-weight: 900;
	order: -1;
	margin-top: 0;
	padding-top: 4px;
	border-top: 5px solid #f18119;
	border-image: linear-gradient(90deg, #ff713b, #ffa51d ) 1;
}



/*====================
	intro
=====================*/


.intro {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-image: url("../images/bbq.jpg");
	background-size: cover;
	background-position: bottom-left;
	background-color: #b3afa4;
	background-blend-mode: multiply;
	background-position: right;
	min-height: 50vh;
}

.title, .title + p {
	max-width: 400px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


.title + p {
	font-weight: 900;
	padding-bottom: 1em;
	font-size: 0.9rem;
	
}

strong {
	font-weight: 900;

}

.title ~ p {
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #f18119;

}

@media (min-width: 500px){
	body {
		display: flex;
		min-height: 100vh;
	}

	.intro {
		width: 50%;
	}
}


/*==============
	main-content
================*/

.main-title{
	margin: 0;
}

.main-content * {
	max-width: 430px;
	margin-left: auto;
	margin-right: auto;
}

.main-content  {
	padding: 2em 1em;
}

.main-body {
	line-height: 1.5;
}


.main-title + p {
	font-weight: 900;
	color: #f18119;
	margin-top: 0;
	text-transform: uppercase;
}


form {
	display: flex;
	flex-direction: column;
	text-align: center;
	width:  250px;
	
}

input, .btn{
	padding: 0.8em 1.5em;
	font-family: inherit;
	text-align: inherit;
	border-radius: 10px;
	width: 100%;
}

input{
	margin-bottom: 1em;
	border: 2px solid gray;
	transform: scale(1);
	transition: transform 400ms;
}

input:focus{
	transform: scale(1.08);
}

.submit-btn {
	background-image: linear-gradient(90deg, #ff713b, #ffa51d);
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	color: rgba(255, 255, 255, 90%);
	text-decoration: none;
	transform: scale(1);
	transition: transform 400ms;
}

.submit-btn:hover,
.submit-btn:focus {
	transform: scale(1.08);
}



form + p {
	font-size: 0.625rem;
	font-weight: 400;
	letter-spacing: 1px;
	max-width: 150px;
}

@media (min-width: 500px){

	body {
		font-size:1.125rem;
	}

	h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 1.75rem;
	}

	.title, .title + p {
		max-width: 500px;
	}

	.main-content * {
		max-width: 550px;
	}


	.main-content {
		width: 50%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}